In [231]:
import pandas as pd

In [232]:
df=pd.read_csv("Default.csv")

In [233]:
df

      Unnamed: 0 default student      balance        income
0              1      No      No   729.526495  44361.625074
1              2      No     Yes   817.180407  12106.134700
2              3      No      No  1073.549164  31767.138947
3              4      No      No   529.250605  35704.493935
4              5      No      No   785.655883  38463.495879
...          ...     ...     ...          ...           ...
9995        9996      No      No   711.555020  52992.378914
9996        9997      No      No   757.962918  19660.721768
9997        9998      No      No   845.411989  58636.156984
9998        9999      No      No  1569.009053  36669.112365
9999       10000      No     Yes   200.922183  16862.952321

[10000 rows x 5 columns]

In [234]:
df.columns

Index(['Unnamed: 0', 'default', 'student', 'balance', 'income'], dtype='object')

In [235]:
df.pop("Unnamed: 0")

0           1
1           2
2           3
3           4
4           5
        ...
9995     9996
9996     9997
9997     9998
9998     9999
9999    10000
Name: Unnamed: 0, Length: 10000, dtype: int64

In [236]:
df.pop("default")

0       No
1       No
2       No
3       No
4       No
        ..
9995    No
9996    No
9997    No
9998    No
9999    No
Name: default, Length: 10000, dtype: object

In [237]:
df

     student      balance        income
0         No   729.526495  44361.625074
1        Yes   817.180407  12106.134700
2         No  1073.549164  31767.138947
3         No   529.250605  35704.493935
4         No   785.655883  38463.495879
...      ...          ...           ...
9995      No   711.555020  52992.378914
9996      No   757.962918  19660.721768
9997      No   845.411989  58636.156984
9998      No  1569.009053  36669.112365
9999     Yes   200.922183  16862.952321

[10000 rows x 3 columns]

In [238]:
from sklearn.linear_model import LogisticRegression

In [239]:
lr==LogisticRegression()

False

In [240]:
lr.fit(df[["balance","income"]],df["student"])

LogisticRegression(max_iter=10000)

In [241]:
lr.predict([[729.5264,44361.625]])

c:\Users\Designoo 09\Desktop\editoo\.venv\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['No'], dtype=object)

In [242]:
df

     student      balance        income
0         No   729.526495  44361.625074
1        Yes   817.180407  12106.134700
2         No  1073.549164  31767.138947
3         No   529.250605  35704.493935
4         No   785.655883  38463.495879
...      ...          ...           ...
9995      No   711.555020  52992.378914
9996      No   757.962918  19660.721768
9997      No   845.411989  58636.156984
9998      No  1569.009053  36669.112365
9999     Yes   200.922183  16862.952321

[10000 rows x 3 columns]

In [243]:
df=pd.get_dummies(df,drop_first=True)

In [244]:
df

          balance        income  student_Yes
0      729.526495  44361.625074            0
1      817.180407  12106.134700            1
2     1073.549164  31767.138947            0
3      529.250605  35704.493935            0
4      785.655883  38463.495879            0
...           ...           ...          ...
9995   711.555020  52992.378914            0
9996   757.962918  19660.721768            0
9997   845.411989  58636.156984            0
9998  1569.009053  36669.112365            0
9999   200.922183  16862.952321            1

[10000 rows x 3 columns]

In [247]:
df.rename(columns={"student_Yes":"student"},inplace=True)

In [248]:
df

          balance        income  student
0      729.526495  44361.625074        0
1      817.180407  12106.134700        1
2     1073.549164  31767.138947        0
3      529.250605  35704.493935        0
4      785.655883  38463.495879        0
...           ...           ...      ...
9995   711.555020  52992.378914        0
9996   757.962918  19660.721768        0
9997   845.411989  58636.156984        0
9998  1569.009053  36669.112365        0
9999   200.922183  16862.952321        1

[10000 rows x 3 columns]

In [249]:
lr.fit(df[["balance","income"]],df["student"])

LogisticRegression(max_iter=10000)

In [250]:
lr.predict([[729.5264,44361.625]])

c:\Users\Designoo 09\Desktop\editoo\.venv\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=uint8)

In [251]:
df=pd.read_csv("Default.csv")

In [253]:
df.pop("Unnamed: 0")

0           1
1           2
2           3
3           4
4           5
        ...
9995     9996
9996     9997
9997     9998
9998     9999
9999    10000
Name: Unnamed: 0, Length: 10000, dtype: int64

In [254]:
df

     default student      balance        income
0         No      No   729.526495  44361.625074
1         No     Yes   817.180407  12106.134700
2         No      No  1073.549164  31767.138947
3         No      No   529.250605  35704.493935
4         No      No   785.655883  38463.495879
...      ...     ...          ...           ...
9995      No      No   711.555020  52992.378914
9996      No      No   757.962918  19660.721768
9997      No      No   845.411989  58636.156984
9998      No      No  1569.009053  36669.112365
9999      No     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

In [ ]:
lr